Expense_Client_App/Connected Services/ExpenseServiceReference/ExpenseTracker_WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseTracker_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseTracker_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpenseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
</xs:schema>